<footer class="site-footer">

  <div class="wrapper">
	<div class='footer-content'>
			<p> shorthandsketch@gmail.com </p>
	</div>
	<div class="footer-social">
			<ul>
					<li>
						<a href="httP://www.github.com/{{ site.github_username }}">
								<img src="{{ site.baseurl }}/images/github_white.png" alt="github logo" width="40">
						</a>
				   </li>
					<li>
						<a href="httP://www.instagram.com/{{ site.instagram_username }}">
								<img src="{{ site.baseurl }}/images/instagram_white.png" alt="instagram logo" width="40">
						</a>
				   </li>
		   </ul>
  </div>

</footer>
