    <header class="site-header">
        <div class='title-area'>
            <img class="logo" src="/images/sslogo_larger.png" alt="">
            <h1 class="site-title mega">
                <a href="{{ site.baseurl }}">Shorthand Sketch</a>
            </h1>
            <p> Writing & Illustration Collaboration </p>
        </div>
    </header>
    <nav class="site-nav" style="">
        <ul> {% for link in site.links %}
                <li>
                    <a href="{{ site.baseurl }}{{link.url }}"><span> {{ link.title }} </span></a>
                </li>
            {% endfor %}
            <li class='fixed-only'><img src="{{ site.baseurl }}/images/ss_logo_for_sticky_nav.png" alt=""> Shorthand Sketch </li>   
        </ul>
    </nav>
