    <header class="site-header">
        <div class='title-area'>
            <img class="logo" src="/images/sslogo_larger.png" alt="">
            <h1 class="site-title mega">
                <a href="/">Shorthand Sketch</a>
            </h1>
            <p> Writing & Illustration Collaboration </p>
        </div>
    </header>
    <nav class="site-nav" style="">
        <ul> {% for link in site.links %}
                <li>
                    <a href="{{ link.url }}"><span> {{ link.title }} </span></a>
                </li>
            {% endfor %}
            <li class='fixed-only'><p><span>Shorthand Sketch</span></p></>
            <li class='fixed-logo'><img src="/images/ss_logo_for_sticky_nav.png" alt=""></li>
        </ul>
    </nav>
