<h2 class='post-title'>
    <a href="{{ post.url | prepend:site.baseurl }}">
        {{ post.title }}
    </a>
    <p class='date'>
        {{ post.date | date: '%B %d, %Y' }}
    </p>
</h2>
<ul class="post-tags">
    {% for tag in post.tags %}
        <li>
            <img src="{{ site.baseurl }}/images/{{tag}}.png" alt="{{ tag }}">
        </li>
    {% endfor %}
</ul>
<p> 
    {{ post.content | strip_html | strip_newlines | truncate: 200 }} 
</p>
<p class="post-read-more-link">
<a href="{{ post.url | prepend:site.baseurl }}">read more...</a>
</p>
