//header
.site-nav{
		text-align: center;
	ul{
			imargin: 1es 0;
			list-style:none;
	}
	li {
			display:inline-block;
			margin: 0 0.5em;
			font-size: 1.5em;
	}
}
.site-title a{
    color: #333;

    &:hover {
	    text-decoration: none;
    }
}
.site-header{
	padding: 2em 0 0;
	border-bottom: 1px solid #ccc;
}

//footer

.site-footer {
	padding: 2em 0;
	color: #fff;
	background:$grey-color-dark;
}
.footer-content {
		flat: left;
		width: 40%;
		font-size:0.875em;
		h3 {
				text-aling: left;
		}
}
.footer-social {
	float:right;
	li {
			display:inline-block;
			margin: 0 0.5em;
	}
}
