.post-list{
    @extend %clearfix;
    list-style:none;
}
.post {
    float:left;
    width:50%;
    padding: 0 3em 1em;
    @media screen and (max-width: $on-palm) {
            float: none;
            width:100%;
    }
    &:nth-child(odd){
        clear:both;
    }
}
.post-read-more-link {
    text-align:center;
}
.post-featured {
    float:none;
    margin: 0 auto;
}
.post-tags{
    margin-left: 0;
    min-height: 50px;
    text-align: center;
    li{
        display: inline;
    }
}
// single page
.post-header {
    text-align:center;
}
.post-title{
    margin:0;
    font-size: 45px;
    @media screen and (max-width: $on-palm) {
        font-size: 35px;
    }
}
.about{
    margin-bottom: 20px;
}
.post-meta{
    color: $grey-color;
    font-size: $h4-font-size;
}
.post-body {
    width:90%;
    max-width: 40em;
    margin: $h2-font-size auto;
    h1, h2, h3, h4 {
        max-width: 80%;
        margin: $h2-font-size auto;
    }
}

.about-content{
    float:left;
    margin-right: 30px;
    margin-left: 83px;
    font-size: 19px;
}
